.navbar {
	padding: 20px 20px 20px 20px;
	background: white;
}
body{
	font-family: 'Noto Sans SC', sans-serif;
}

.con-1 {
	padding-bottom: 100px;
}
.text-black{
	color: black;
}
.footer-main {
	background: #161c2d;
	padding-top: 100px;
	padding-bottom: 80px;
}

.mg {
	border: 1px solid lightgray;
}
.btn-primary-soft {
	background-color: lightgray;
    color: #335eea;
	border-radius: 50px;
	padding-top: 10px;
	
}

.nav-link:hover {
	color: royalblue;
}

.txt-2 {
	color: white;
}

.con-0{
	padding-bottom: 80px;
	padding-top: 70px;
}
.footer-img-title {
	padding-bottom: 20px;
}
.footer-img-title-link {
	text-decoration: none;
}

.footer-head-size {
	padding-left: 10px;
	text-decoration: none;
	font-size: 30px;
}