body{
	font-family: 'Noto Sans SC', sans-serif;
}

.navbar {
	font-size: 15px;
	background: white;
}

.first-nav {
	background: #ebf0f8;
}

.navbar-brand {
	display: flex;
	justify-content: center;
	align-items: center;
}

.head_size {
	margin-left: 20px;
	font-size: 20px;
}

.bot-effect {
	margin-top: 20px;
}

.image-center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}


.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;  
  -o-transition:padding 0.2s ease-out;         
  transition:padding 0.2s ease-out;

}

@media (min-width:768px) {
    .affix-top {
      /* navbar style at top */
      background:transparent;
      border-color:transparent;
      padding: 15px;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease; 
      -o-transition:all 0.5s ease;         
      transition:all 0.5s ease;  
    }
}

.affix-top .nav>li>a {
   color: #000;
}

.affix-top.navbar .nav>li>a:hover,
.affix-top.navbar .navbar-brand
{
   color: #333;
}



.navbar-brand {
	font-size: 20px;
}
.txt-1 {
	font-size: 18px;
}

.hd-name {
	font-weight: bold;
	color: #1b1b1b;    
}

.hed-1 {
	border-left: 4px solid royalblue;
	padding-left: 10px;
	margin-bottom: 40px;
}

.con-1 {
	padding-bottom: 100px;
}

.row-deff{
	padding-bottom: 30px;
}

#photo
{
	height: 532px;
	width: 1500px;
	position:relative;
  	z-index:-1;
  	object-fit: cover;
}

.pickgradient {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.card {
	/*box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.15);*/
	border: none;
}
.com-name {
	color: royalblue;
}

.new-carousel-imgs {
	height: 300px;
	width: 500px;
}

.main_carousel_head {
	font-weight: bold;
}

.main_carousel_text {
	font-size: 20px;
	color: lightgray;
}

.carousel-indicators {
	cursor: pointer;
	left: 0;
	right: 0;
	justify-content: flex-start;
}

.carousel-caption {
	text-align: left;
	bottom: 50%;
    left: 15%;
    transform: translate(10px, 50%);
}

.new-caro-card {
	align-content: center;
	margin-left: 10px;
}
.text-black{
	color: black;
}
.footer-main {
	background: #161c2d;
	padding-top: 100px;
	padding-bottom: 80px;
}
.con-3 {
	padding-bottom: 80px;
}
.bg-black{
	background: black;
}

.btn-primary-soft {
	background-color: black;
	color: white;
}

.nav-link {
	color: black;
}

.nav-link:hover {
	color: royalblue;
}

#crd {
	padding-bottom: 80px;
}

.con-0{
	padding-bottom: 30px;
}

#customimg
{
	width: 100%;
    height: 250px;
    object-fit: cover;
}
#custom
{
	width: 100%;
	height: 15vw;
	object-fit: contain;
}

.why-head {
	font-size: 22px;
	text-align: center;
}

.each-section {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: #ebf0f8 !important;
}

.patients_speak {
	padding-top: 70px;
	padding-bottom: 100px;
}

.footer-img-title {
	padding-bottom: 20px;
}
.footer-img-title-link {
	text-decoration: none;
}

.footer-head-size {
	padding-left: 10px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}