.navbar {
	font-size: 15px;
	background: white;
}
body{
	font-family: 'Noto Sans SC', sans-serif;
}
.head_size {
	font-size: 25px;
}

.image-center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
	font-size: 20px;
}
.txt-1 {
	font-size: 18px;
}

.carousel-control-prev, .carousel-control-next {
	top: 40%;
	bottom: 40%;
	border-radius: 100px;
	width: auto;
	opacity: 1;
	background-color: royalblue;
	box-shadow: 0.1em 0.1em 1em rgba(0,0,0,0.2);
	margin-right: 20px;
	margin-left: 20px;
	padding: 0px 10px 0px 10px;
}


.hd-name {
	color: #003da5;
	padding-top: 30px;
	padding-bottom: 30px;
}

.text-center-top-head {
  	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}

.card {
	border-radius: 0;
	box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.15) !important;
	border: none;
}

.mg {
	height: 250px;
	width: 300px;
	margin-bottom: 30px;
}

.text-black{
	color: black;
}

.main-text {
	font-size: 20px;
}

.btn-primary-soft {
	background-color: lightgray;
    color: #335eea;
	border-radius: 50px;
	padding-top: 10px;
	
}

.collapse-link:focus {
	box-shadow: none;
}

.author-card {
	margin-bottom: 50px;
}

.each-section {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: #ebf0f8 !important;
}

.footer-main {
	background: #161c2d;
	padding-top: 100px;
	padding-bottom: 80px;
}

.footer-img-title {
	padding-bottom: 20px;
}
.footer-img-title-link {
	text-decoration: none;
}

.footer-head-size {
	padding-left: 10px;
	text-decoration: none;
	font-size: 30px;
}